@import "tailwindcss";


:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --primary: #2563eb;
  --secondary: #7c3aed;
}


* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


a {
  text-decoration: none;
}


button {
  cursor: pointer;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}


.card {
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}


.primary-btn {
  background: linear-gradient(
    135deg,
    #2563eb,
    #7c3aed
  );
  color: white;
  padding: 12px 25px;
  border-radius: 999px;
  border: none;
  font-weight: bold;
  transition: 0.3s;
}


.primary-btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}


.secondary-btn {
  border: 2px solid #2563eb;
  color: #2563eb;
  padding: 10px 22px;
  border-radius: 999px;
  background: transparent;
}